html {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow-x: hidden;
    padding-bottom: 0;-ms-overflow-style: none;
    scrollbar-width: none;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-attachment: fixed;
    margin: 0;
    background: white;
    overflow-x: hidden;
    width: 100vw;
    padding-bottom: 0;-ms-overflow-style: none;
    scrollbar-width: none;
}
html::-webkit-scrollbar { 
    display: none;
}
.body::-webkit-scrollbar { 
    display: none;
}
.hero {
    display: flex;
    flex-direction: column;
    margin: 12.5vh;
    height: 75vh;
    width: 75vw;
    background: transparent;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;
    background: rgba(0, 0, 0, 0.25);
}
.textHolder {
    display: flex;
    flex-direction: column;
    width: 50vw;
    justify-content: center;
    align-items: center;
}
.heroLogo {
    width: 4vw;
    margin-bottom: 6vh;
    filter: none;
    -webkit-filter: none;
    transition: filter 0.5s, -webkit-filter 0.5s;
}
.heroLogo:hover {
    filter: drop-shadow(0px, 0px, 5px, rgba(255, 255, 255, 255));
    -webkit-filter: drop-shadow(0px 0px 15px rgba(255, 255, 255, 0.5));
    transition: filter 0.5s, -webkit-filter 0.5s;
}
h1 {
    color: white;
    font-family: "IBM Plex Mono", "PT Sans", Calibri, Tahoma, sans-serif;
    font-size: 5vh;
    margin: -1.5vh 1vw;
    text-align: center;
    cursor: default;
}
h2 {
    color: white;
    font-family: "Open Sans", "PT Sans", Calibri, Tahoma, sans-serif;
    font-size: 10vh;
    margin: 0 1vw;
    text-align: center;
    cursor: default;
    transition: text-shadow 0.5s;
}
.ogh2 {
    text-shadow: 0 0 15px rgba(255, 255, 255, 0.3);
}
.ogh2:hover {
    text-shadow: 0 0 10px rgba(255, 255, 255, 1);
    transition: text-shadow 0.5s;
}
h3 {
    color: white;
    font-family: "IBM Plex Mono", "PT Sans", Calibri, Tahoma, sans-serif;
    font-size: 2.5vh;
    margin: 1vh 1vw;
    text-align: center;
    cursor: default;
}
#canvas {
    position: absolute;
    z-index: -1;
    position: fixed;
    top: 0;
}
.down {
    display: flex;
    flex-direction: row;
    background-color: transparent;
    width: 30vh;
    height: 5vh;
    margin-top: 2.5vh;
    justify-content: center;
    align-items: center;
    border-radius: 2.5vh;
    cursor: pointer;
    border: 0.5vh solid #555;
    transition: background-color 0.5s, border 0.5s;
}
.more {
    margin: 0 -0.2vh;
    transition: margin 0.5s;
    transition-delay: 0.3s;
    cursor: pointer;
}
.arrow {
    opacity: 0;
    border: solid white;
    border-width: 0 0.6vh 0.6vh 0;
    padding: 0.6vh;
    margin-bottom: 0.75vh;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    display: inline-block;
    transition: 0.5s opacity;
}
.down:hover {
    background-color: rgba(0, 0, 0, 0.25);
    border: 0.5vh solid #fff;
    transition: background-color 0.5s, border 0.5s;
}
.down:hover > .more {
    margin: 0 0.75vw;
    transition: margin 0.5s;
}
.down:hover > .arrow {
    opacity: 1;
    transition: 0.5s opacity;
    transition-delay: 0.3s;
}
.about {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}
.ab {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 96vw;
    margin: 2vw;
    flex-grow: 1;
}
#aba {
    margin-bottom: 1vw;
}
#abb {
    margin-top: 1vw;
}
.rect {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0;
    flex-grow: 1;
    height: 100%;
    overflow: hidden;
    width: 39.5vw;
}
#business {
    margin-right: 1vw;
    flex-direction: row;
}
#math {
    margin-left: 1vw;
    flex-direction: row-reverse;
}
#software {
    margin-right: 1vw;
    flex-direction: row;
}
#education {
    margin-left: 1vw;
    flex-direction: row-reverse;
}
.me {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin: 0;
    background: rgba(255, 255, 255, 0.25);
    height: 28%;
    padding: 1vh 1vw;
}
.headhold1 {
    height: inherit;
    width: 7.5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 0;
    overflow: hidden;
}
h4 {
    font-family: "IBM Plex Mono", "PT Sans", Calibri, Tahoma, sans-serif;
    writing-mode: vertical-rl;
    text-align: center;
    letter-spacing: 0;
    font-size: 3vw;
    margin: 1.5vw;
    color: white;
}
#businesshead {
    rotate: 180deg;
    background: rgb(126, 20, 135);
}
#mathhead {
    background: rgb(102, 232, 78);
}
#softwarehead {
    rotate: 180deg;
    background: rgb(50, 125, 250);
}
#educationhead {
    background: rgb(250, 160, 56);
}
.material {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    margin: 0;
    flex-grow: 1;
    height: 100%;
    z-index: -1;
}
.block {
    width: 100%;
    height: 15vh;
}
.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    margin: 0;
    flex-grow: 1;
    width: 100%;
    height: 100%;
}
.box {
    position: absolute;
    width: 39.5vw;
    height: 15vh;
    background: transparent;
    margin: 2vw;
    z-index: -1;
}
.subT {
    font-size: 3vw;
}
hl {
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}
.hlb {
    background-image: linear-gradient(to right, #C350CE, #CE70D7);
    text-shadow: none;
    transition: text-shadow 0.5s;
}
.hlb:hover {
    text-shadow: 0 0 10px rgba(206,112,215, 0.75);
    transition: text-shadow 0.5s;
}
.hlm {
    background-image: linear-gradient(to right, #81EC6D, #B1F3A4);
    text-shadow: none;
    transition: text-shadow 0.5s;
}
.hlm:hover {
    text-shadow: 0 0 10px rgba(177,243,164, 0.75);
    transition: text-shadow 0.5s;
}
.hls {
    background-image: linear-gradient(to right, #4589FA, #8CB6FA);
    text-shadow: none;
    transition: text-shadow 0.5s;
}
.hls:hover {
    text-shadow: 0 0 10px rgba(140,182,250, 0.75);
    transition: text-shadow 0.5s;
}
.hle {
    background-image: linear-gradient(to right, #FAA038, #FAC483);
    text-shadow: none;
    transition: text-shadow 0.5s;
}
.hle:hover {
    text-shadow: 0 0 10px rgba(250, 196, 131, 0.75);
    transition: text-shadow 0.5s;
}
li {
    display: inline-flex;
    color: white;
    text-align: left;
    font-size: 1.5vw;
    font-family: "IBM Plex Mono", "PT Sans", Calibri, Tahoma, sans-serif;
    margin-left: 1.5vw;
}
ul {
    white-space: pre-wrap;
    display: flex;
    flex-direction: column;
    list-style: none outside;
    padding-left: 0;
}
li::before{ 
    content: "\00BB"; 
    margin-right: 0.5vw;
    font-weight: 900;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.content1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    overflow: hidden;
    margin: 0;
    flex-grow: 1;
    width: 35vw;
    height: 100%;
}
.li1 {
    padding-left: 2vw;
}

.purp::before {
    color: rgb(175, 50, 190);
}
.gree::before {
    color: rgb(102, 232, 78);
}
.blue::before {
    color: rgb(70, 160, 255);
}
.oran::before {
    color: rgb(250, 160, 56);
}
.section {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hold {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60vw;
    background: rgba(0, 0, 0, 0.5);
}